In [1]:
## Queremos saber cuáles son los negocios más sexys, para esto vamos a ver cuáles son los 3 negocios con más tips que contengan el texto “sexy”

In [87]:
import pandas as pd
import re

dataset_path = './dataset'
tip_data = pd.read_csv(dataset_path + '/tip.csv')
tip_data = tip_data[tip_data["text"].notna()]
tip_data["text"] = tip_data["text"].map(lambda x: x.strip().lower())
tip_data

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,they have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,it's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,love their cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,food is good value but a bit hot!,2021-12-07 22:30:00,0

In [88]:
reg = re.compile(r"\b(sexy)\b")
tip_data2 = tip_data
tip_data2 = tip_data2[tip_data2["text"].notna()]
tip_data2["text"] = tip_data2["text"].map(lambda x: bool(reg.search(x)))
tip_data2 = tip_data2[tip_data2["text"] == True]
top_3_sexy = tip_data2['business_id'].value_counts()[:3]
print(top_3_sexy)

sexy_names = top_3_sexy.index.tolist()
sexy_names

IxX6YczoeBpdt78AzDS4GQ    5
X9e_btDPux6JGqqw8UF_Pg    4
4xEJiEQERBvr2jAZQSeF2g    4
Name: business_id, dtype: int64

['IxX6YczoeBpdt78AzDS4GQ', 'X9e_btDPux6JGqqw8UF_Pg', '4xEJiEQERBvr2jAZQSeF2g']

In [89]:
dataset_path = './dataset'
b_df = pd.read_csv(dataset_path + '/business.csv')
id_name = pd.DataFrame()
id_name['business_id'] = b_df['business_id']
id_name['name'] = b_df['name']

df = pd.DataFrame(columns=['business_id', 'name'])

for i in sexy_names:
    id_name['business_id']
    row = id_name[id_name['business_id'] == i]
    df = pd.concat([df, id_name[id_name['business_id'] == i]])

df

                   business_id                                  name
112465  IxX6YczoeBpdt78AzDS4GQ               The Butcher And Barkeep
42661   X9e_btDPux6JGqqw8UF_Pg  Koizi Endless Hibachi & Sushi Eatery
5800    4xEJiEQERBvr2jAZQSeF2g                            Mojo Tapas