In [84]:
import pandas as pd
import seaborn as sns

dataset_path = 'dataset'
bsns_data = pd.read_csv(dataset_path + '/business.csv')
bsns_data

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,0.0,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,8.0,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,11.0,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,37.0,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13.0,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,5.0,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,4.0,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,5.0,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,12.0,1,"{'BusinessParking': ""{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,8.0,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [85]:

df = pd.DataFrame()
bsns_data = bsns_data[bsns_data['hours'].notna()]
df['state'] = bsns_data['state']
df['name'] = bsns_data['name']
df['state'] = bsns_data['state']
df['hours'] = bsns_data['hours']
df

,state,name,hours
1,MO,The UPS Store,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,AZ,Target,"{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,PA,St Honore Pastries,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,PA,Perkiomen Valley Brewery,"{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
5,TN,Sonic Drive-In,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
...,...,...,...
150340,AB,West Side Kebab House,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
150341,AB,Binh's Nails,"{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,TN,Wild Birds Unlimited,"{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150344,IL,Cyclery & Fitness Center,"{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,FL,Sic Ink,"{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [109]:
import json

WEEK_DAYS=[['Monday', 'Lunes'], ['Tuesday', 'Martes'], ['Wednesday', 'Miercoles'], ['Thursday', 'Jueves'], ['Friday','Viernes'], ['Saturday','Sabado'], ['Sunday','Domingo'] ]

BUSINESS = ['Wendy\'s', 'McDonald\'s', 'Starbucks', 'KFC']

df2 = pd.DataFrame()
df2['name'] = df['name']
df2['hours'] = df['hours'].map(lambda x: x.replace('\'', '\"'))
df2['hours'] = df2['hours'].map(lambda x: json.loads(x))

for day in WEEK_DAYS:
    df2[day[1]] = df2['hours'].map(lambda x: x.get(day[0]))
del df2['hours']
df2 = df2[df['name'].isin(BUSINESS)]
df3 = pd.DataFrame()
for b in BUSINESS:
    row = df2.loc[df2[df2.name==b].first_valid_index()].to_frame().T
    df3 = pd.concat([df3, row], ignore_index=True, axis=0)

type(df2.loc[df2[df2.name=='Starbucks'].first_valid_index()])
df3 # el objetivo era armar un heat plot con los horarios mas frecuentes de respuesta por día de semana (y que el rango de colores fuera de más claro a más oscuro conforme se hace mas tarde en el dia)

,name,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado,Domingo
0,Wendy's,10:0-0:0,10:0-0:0,10:0-0:0,10:0-0:0,10:0-1:0,10:0-1:0,10:0-0:0
1,McDonald's,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
2,Starbucks,5:30-21:0,5:30-21:0,5:30-21:0,5:30-21:0,5:30-21:0,6:30-21:0,6:30-21:0
3,KFC,10:30-23:0,10:30-23:0,10:30-23:0,10:30-23:0,10:30-0:0,10:30-0:0,10:30-22:0

ValueError: Could not interpret input 'day'